version: "3.8"

services:
  mqtt2exist:
    build: .
    container_name: mqtt2exist
    network_mode: host
    restart: unless-stopped
    command: ["python", "-u", "mqtt2exist.py"]

    environment:
      # MQTT config
      MQTT_HOST: ${MQTT_HOST:-localhost}
      MQTT_PORT: ${MQTT_PORT:-1883}
      MQTT_TOPIC: ${MQTT_TOPIC:-openScaleSync/measurements/last}
      MQTT_USERNAME: ${MQTT_USERNAME:-}
      MQTT_PASSWORD: ${MQTT_PASSWORD:-}
      MQTT_TLS: ${MQTT_TLS:-false}

      # Exist.io
      EXIST_TOKEN: ${EXIST_TOKEN}
      ATTR_WEIGHT: ${ATTR_WEIGHT:-weight}
      ATTR_FAT: ${ATTR_FAT:-body_fat}

      # Misc
      LOCAL_TZ: ${LOCAL_TZ:-America/Toronto}
      LOG_LEVEL: ${LOG_LEVEL:-INFO}